<div class="w-full h-1/18 flex justify-center items-center fixed top-5">
    <header class="w-1/2 h-full branco-opaco">
        <nav class="w-full h-full flex justify-center items-center text-amber-50">
            <ul class="w-full h-full flex justify-center items-center">
                <li class="w-1/2 h-full flex justify-center items-center">
                    <a href="#" class="w-full h-full flex justify-center items-center">Home</a>
                </li>
                <li class="w-1/2 h-full flex justify-center items-center">
                    <a href="#" class="w-full h-full flex justify-center items-center">Sobre</a>
                </li>
                <li class="w-1/2 h-full flex justify-center items-center">
                    <a href="#" class="w-full h-full flex justify-center items-center">Projetos</a>
                </li>
                <li class="w-1/2 h-full flex justify-center items-center">
                    <a href="#" class="w-full h-full flex justify-center items-center">Contato</a>
                </li>
            </ul>
        </nav>
    </header>
</div>